In [1]:
import numpy as np
import pandas as pd

In [2]:
books = pd.read_csv('books.csv')
users = pd.read_csv('users.csv')
ratings = pd.read_csv('ratings.csv')

C:\Users\vinay\AppData\Local\Temp\ipykernel_9752\3819754567.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv('books.csv')

In [3]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [4]:
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [5]:
print(books.shape)
print(ratings.shape)
print(users.shape)

(271360, 8)
(1149780, 3)
(278858, 3)

In [6]:
books.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            1
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64

In [7]:
users.isnull().sum()

User-ID          0
Location         0
Age         110762
dtype: int64

In [8]:
ratings.isnull().sum()

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

In [9]:
books.duplicated().sum()

0

In [10]:
ratings.duplicated().sum()

0

In [11]:
users.duplicated().sum()

0

## Popularity Based Recommender System

In [12]:
books_with_rating = pd.merge(ratings,books,on = 'ISBN')

In [13]:
books_with_rating.head()

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
1,2313,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
2,6543,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
3,8680,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
4,10314,034545104X,9,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...

In [14]:
book_count = books_with_rating.groupby('Book-Title').count()['Book-Rating'].reset_index()
book_count = book_count.rename(columns = {'Book-Rating':'num_ratings'})

In [15]:
book_count.shape

(241071, 2)

In [16]:
avg = books_with_rating.groupby('Book-Title').mean()['Book-Rating'].reset_index()
avg.rename(columns = {'Book-Rating':'avg_rating'},inplace =True)

In [17]:
avg.shape

(241071, 2)

In [18]:
popular_df = pd.merge(book_count,avg,on = 'Book-Title')

In [19]:
popular_df = popular_df[popular_df.num_ratings>250].sort_values(ascending = False,by = 'avg_rating')

In [20]:
#top 50 books
popular_df = popular_df.head(50)

In [21]:
popular_df = pd.merge(popular_df,books,on = 'Book-Title')

In [22]:
popular_df.drop_duplicates(subset=['Book-Title'],inplace= True)

In [23]:
popular_df.shape

(50, 10)

## Collaborative Filtering Based Recommender System

In [24]:
#user who rated more than 200 books

In [25]:
x = books_with_rating.groupby('User-ID').count()['Book-Rating']>200

In [26]:
special_users = x[x].index

In [27]:
final_df1 = books_with_rating[books_with_rating['User-ID'].isin(special_users)]

In [28]:
final_df1.shape

(474007, 10)

In [29]:
y = final_df1.groupby('Book-Title').count()['Book-Rating']>=50

In [30]:
special_books = y[y].index

In [31]:
final_df2 = final_df1[final_df1['Book-Title'].isin(special_books)]

In [32]:
final_df2.shape

(58586, 10)

In [33]:
pt = final_df2.pivot_table(index='Book-Title',columns='User-ID',values='Book-Rating')

In [34]:
pt.fillna(0,inplace = True)

In [35]:
from sklearn.metrics.pairwise import cosine_similarity

In [36]:
similarity_scores = cosine_similarity(pt)

In [37]:
np.where(pt.index == '1984')[0][0]

0

In [38]:
sim = sorted(list(enumerate(similarity_scores[0])),key = lambda x:x[1],reverse = True)[1:6]

In [39]:
pt.index[0]

'1984'

In [40]:
books = []
for i,j in sim:
    print(pt.index[i])
    books.append(pt.index[i])

Animal Farm
The Handmaid's Tale
Brave New World
The Vampire Lestat (Vampire Chronicles, Book II)
The Hours : A Novel

In [41]:
books

['Animal Farm',
 "The Handmaid's Tale",
 'Brave New World',
 'The Vampire Lestat (Vampire Chronicles, Book II)',
 'The Hours : A Novel']

In [56]:
def recommend(book_name):
    books = []
    index = np.where(pt.index== book_name)[0][0]
    similar = sorted(list(enumerate(similarity_scores[index])), key = lambda x :x[1],reverse = True)[1:11]
    for i,j in similar:
        books.append(pt.index[i])
    for book in books:
        print(book)

In [57]:
recommend('1984')

Animal Farm
The Handmaid's Tale
Brave New World
The Vampire Lestat (Vampire Chronicles, Book II)
The Hours : A Novel
Fahrenheit 451
The Catcher in the Rye
Naked
The Hundred Secret Senses
The Drawing of the Three (The Dark Tower, Book 2)

In [64]:
final_df2['Image-URL-M']

63         http://images.amazon.com/images/P/0446520802.0...
65         http://images.amazon.com/images/P/0446520802.0...
66         http://images.amazon.com/images/P/0446520802.0...
69         http://images.amazon.com/images/P/0446520802.0...
74         http://images.amazon.com/images/P/0446520802.0...
                                 ...
1026724    http://images.amazon.com/images/P/0531001725.0...
1027923    http://images.amazon.com/images/P/0670809381.0...
1028777    http://images.amazon.com/images/P/0440910927.0...
1029070    http://images.amazon.com/images/P/B0001PIOX4.0...
1030868    http://images.amazon.com/images/P/1586210661.0...
Name: Image-URL-M, Length: 58586, dtype: object

In [62]:
import pickle

In [63]:
pickle.dump(final_df2.to_dict(), open('books_dict.pkl','wb'))

In [67]:
pickle.dump(similarity_scores, open('D:\project\Book recommender(end to end)\similarity.pkl','wb'))

In [ ]:
pickle.dump(similarity, pickle.dump(similarity_scores, open('D:\project\Book recommender(end to end)\similarity.pkl','wb'))('similarity.pkl','wb'))